.fixed-action-btn {
    .scroll-top{
        position: fixed;
        right: 40px;
        bottom: -20%;
        margin-bottom: 0;
        z-index: 997;
        padding: 15px 17px;
        line-height: 0;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        border-radius: 50%;
        text-align: center;
        background: #FFAB00;
        -webkit-transition: all 0.4s ease;
        -moz-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        -ms-transition: all 0.4s ease;
        transition: all 0.4s ease;
        box-shadow: 0 2px 5px #000000A1;
       
        &:hover{
            cursor: pointer;
            box-shadow: 0 4px 7px #000000A1;
            i{
                color: #0055ff;
            }
        }
        &.open{
            bottom: 5%;
        }
    }
    &.is-shadow{
        .scroll-top{
            box-shadow: 0 0px 2px #000000A1;
            &::after {
                position: absolute;
                z-index: -1;
                content: '';
                top: 100%;
                left: 5%;
                height: 10px;
                width: 90%;
                opacity: 1;
                background: -webkit-radial-gradient(center, rgba(51, 51, 51, 0.25) 0%, rgba(51, 51, 51, 0) 80%);
            }
            &:hover{
                background: rgba(255, 171, 0, 0.6);
            }
           
        }
    }
}
